@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap');


.fontMont {
	font-family: 'Montserrat', sans-serif;
}
.myTextArea {
	@apply w-full border-2 border-gray-400 rounded-lg p-2 bg-gray-200 outline-none
}
.greenButton{
	background: #107C10;
	@apply mx-2 px-2 inline fontMont align-bottom text-white rounded-lg
}
.redButton{
	background: #E81123;
	@apply mx-2 px-2 inline fontMont align-bottom text-white rounded-lg
}
.moreDetailsButton{
	background: #F7630C;
	@apply px-2 inline fontMont align-bottom text-white rounded-lg
}
